/*
 * @Descripttion:
 * @Author: 清香<ivestszheng@qq.com>
 * @Date: 2020-12-26 19:51:18
 * @LastEditTime: 2021-02-13 18:57:19
 */
@import "var.scss";
@import "global.scss";

.mui-input-group {
  margin-top: 10px;
  background-color: transparent;
}

.mui-input-group label {
  width: 22%;
}

.mui-input-row:last-child {
  background: rgba(255, 255, 255, 0.5);
}

.mui-input-row {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
}

.mui-input-row label ~ input,
.mui-input-row label ~ select,
.mui-input-row label ~ textarea {
  width: 78%;
}

.mui-btn {
    font-size: 1em;
    display: block;
    width: 100%;
    margin: 1em auto 0 auto;
    background-color: #00b96c;
    border: 2px solid green;
    border-radius: .5em;
}

.link-area {
  display: block;
  margin-top: 25px;
  text-align: center;
  color: rgb(0, 209, 0);
}

.mui-content {
  background-color: rgba(0, 128, 128, 0.5);
  padding-bottom: 1em;
}

.mui-content-padded {
  margin-top: 30px;
}


