@import "var.scss";
@import "global.scss";

.song-list {
  .song-list-header {
    display: flex;
    overflow: auto;
    width: 100%;
    margin-bottom: .25em;
    .song-list-header-button {
      margin: 0.25em;
      flex-shrink: 0;
      color: rgba(0, 255, 242, 0.9);
      background-color: rgb(36, 180, 0);
    }
    // 按钮激活的状态
    .active {
      color: rgb(255, 255, 255);
      background-color: #00ff6a;
    }
  }
}
